<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body style="background-color: rgb(255, 255, 153);">
<h1><span style="font-family: Cursor;"><span
 style="color: rgb(51, 102, 255);">Men&ugrave;</span></span></h1>
<br>
<span style="color: rgb(51, 102, 255);"><a href="insert" target="home1">Inserimento</a></span><br>
<br>
<span style="color: rgb(51, 102, 255);"><a href="scheda" target="home1">Schede mucche</a></span><br>
<br>
<span style="color: rgb(51, 102, 255);"><a href="views" target="home1">Liste</a></span><br>
<br>
<span style="color: rgb(51, 102, 255);"><a href="utility" target="home1">Utility</a></span><br>
</body>
</html>
