<html>

<head>
</head>

<body style="background-color: rgb(255, 255, 153);">

<hr size=3>
<form method="post" action="struttura">
	<input type="submit" value="Crea la struttura del database.">
</form>

<hr size=3>
<form method="post" action="drop_struttura">
	<input type="submit" value="Cancella la struttura del database.">
</form>

<hr size=3>
<form method="post" action="popola">
	<input type="submit" value="Popola il database per testarlo.">
</form>

<hr size=3>
<form method="post" action="erase">
	<input type="submit" value="Cancella tutti i dati nel database.">
</form>
<hr size=3>

<form method="post" action="dump">
	<input type="submit" value="Esegui il backup del database.">
</form>
<hr size=3>

<form method="post" action="restore">
	<input type="submit" value="Riprisitina l'ultima copia di backup del database.">
</form>
<hr size=3>

</body>

</html>