<html>

<head>
</head>

<body style="background-color: rgb(255, 255, 153);">

<hr size=3>
<form method="post" action="views_mucca">
	<input type="submit" value="Visualizza lista mucche.">
</form>

<hr size=3>
<form method="post" action="views_toro">
	<input type="submit" value="Visualizza lista tori.">
</form>

<hr size=3>
<form method="post" action="views_vitello">
	<input type="submit" value="Visualizza lista vitelli.">
</form>

<hr size=3>
<form method="post" action="views_fecondazione">
	<input type="submit" value="Visualizza lista fecondazione.">
</form>

<hr size=3>
<form method="post" action="views_positive">
	<input type="submit" value="Visualizza lista fecondazioni con esito positivo.">
</form>

<hr size=3>
<form method="post" action="views_prima">
	<input type="submit" value="Visualizza lista prime fecondazioni.">
</form>

<hr size=3>
<form method="post" action="views_qualita">
	<input type="submit" value="Visualizza qualità lattazioni.">
</form>

<hr size=3>
<form method="post" action="views_maternita">
	<input type="submit" value="Visualizza maternità.">
</form>

<hr size=3>
<form method="post" action="views_paternita">
	<input type="submit" value="Visualizza paternità.">
</form>

</body>

</html>